<form class="form-customstatus-edit"
      action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Custom Status')) ?></span></legend><br>
        <?= $block->getBlockHtml('formkey') ?>
        <div class="field custom_status required">
            <label class="label" for="zstatus"><span><?= $block->escapeHtml(__('Status')) ?></span></label>
            <div class="control">
                <input type="text"
                       name="zstatus"
                       value="<?= $block->escapeHtmlAttr($block->getZstatus()) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Status')) ?>"
                       class="input-text"
                       id="zstatus">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    data-action="save-address"
                    title="<?= $block->escapeHtmlAttr(__('Save')) ?>">
                <span><?= $block->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
    </div>
</form>